@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1600px)

  .s-request
    .parallax
      top: -20px
      width: 500px

  .ins-item.dark-item
    padding-left: 15%
  .ins-item.light-item
    padding-right: 15%

  .s-intro
    .contact-form
      right: 60px

  .intro-slider-nav
    left: 15px

  .intro-slider
    &:before
      display: none

  .intro-slider-wrap
    width: 100%
    left: 0

// ≥1200px
+media-breakpoint-down(lg)

  .key-tabs-controls
    li
      a
        padding: 15px 15px 25px

  .key-control-desc
    font-size: 16px

  .s-director
    margin-top: 150px

  .dir-left-wrap
    padding-left: 0
    padding-right: 0

  .s-request
    .parallax
      right: 0
      top: 70px

  .objects-slider
    .owl-nav
      left: 0
      top: 279px
      button.owl-prev, button.owl-next
        width: 40px
        height: 40px

  .ins-item.dark-item
    padding-left: 50px
  .ins-item.light-item
    padding-right: 50px

  .s-intro
    .contact-form
      display: none

  .intro-slider-nav
    left: calc((100vw - 992px)/2 + 15px)

  .main-mnu
    display: none

  .hamburger
    display: inline-block

  .main-head
    .logo
      margin-right: 30px

// ≥992px
+media-breakpoint-down(md)

  .s-key
    margin: 80px 0

  .key-tabs-container
    margin-top: 20px

  .foot-wrap
    flex-wrap: wrap
    .btn
      margin-bottom: 30px

  .foot-item
    width: calc(50% - 15px)
    max-width: 100%
    margin-right: 0
    margin-bottom: 30px

  .key-tabs-controls
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &.top
      top: 75px
    &.bottom
      bottom: 75px
    li
      width: 30%
      a
        margin-bottom: 0


  .key-item
    top: 0
    padding: 110px 45px
    &:before
      display: none
    &:after
      display: none

  .s-director
    margin-top: 80px
    .btn-red
      display: block
      max-width: 435px
      margin-left: auto
      margin-right: auto

  .dir-img
    margin-bottom: 30px
    img
      margin-left: auto
      margin-right: auto

  .changes-slider
    .owl-nav
      left: 28px
      bottom: -28px
      button.owl-prev, button.owl-next
        width: 40px
        height: 40px

  .request-container
    margin: 0

  .s-request
    text-align: center
    font-size: 18px
    .parallax
      display: none

  .btn-request
    font-size: 24px
    padding: 16px 30px 22px

  .objects-slider
    .owl-nav
      left: 4px
      top: 448px
      button.owl-prev, button.owl-next
        width: 66px
        height: 66px

  .object-item
    flex-wrap: wrap
    &-img
      margin-bottom: 30px
      width: 100%
    &-desc
      padding-left: 0

  .ins-item.dark-item
    height: 100%

  .s-any
    .section-title
      padding-left: 0
      text-align: center

  .section-title
    h2
      font-size: 28px

  .any-tabs-controls
    display: flex
    margin-bottom: 40px
    flex-wrap: wrap
    justify-content: space-around
    li
      width: 45%
      a
        margin-bottom: 30px
        height: 130px
        &:after
          display: none
      .any-control-desc
        font-size: 16px
      .any-control-img
        .svg
          height: 35px

  .intro-slider-nav
    left: calc((100vw - 768px)/2 + 15px)

  .s-intro
    h1
      font-size: 34px
    h2
      font-size: 30px
    h3
      font-size: 26px

// ≥768px
+media-breakpoint-down(sm)



  .key-tabs-container
    margin-top: 20px

  .key-item
    &:before
      display: block
      width: 15px
      left: -15px
    &:after
      display: block
      width: 15px
      right: -15px

  .key-tabs-controls
    li
      a
        padding: 25px 30px
        display: flex
        justify-content: center
        align-items: center
    &.top
      top: 50px
    &.bottom
      bottom: 50px

  .key-control-desc
    display: none

  .s-projects
    p
      padding-left: 0

  .objects-slider
    .owl-nav
      top: 4px

  .section-title
    padding-left: 0
    text-align: center

  .ins-wrap
    margin-top: 40px

  .s-insurance
    margin-top: 110px

  .ins-wrap
    flex-wrap: wrap

  .ins-item
    width: 100%
    &.dark-item
      padding-top: 70px
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 60px
    &.light-item
      padding-top: 70px
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 60px

  .any-slider
    .owl-nav
      right: 0
      bottom: 0

  .any-content:before
    left: 0
    width: 100%

  .any-tab
    padding: 0 30px

  .intro-slider
    box-shadow: 0 46px #dedede

  .intro-slide
    padding-bottom: 140px

  .intro-slider-nav
    display: none

  .main-head
    .top-phone
      margin-top: 0
      margin-right: 14px

// ≥480px
+media-breakpoint-down(xs)

  .popup-form
    padding: 45px 20px
    h3
      font-size: 24px

  .s-key
    margin-bottom: 40px

  .main-foot
    padding: 40px 0
    .btn
      margin-bottom: 0

  .bottom-address
    font-size: 16px
  .bottom-phone
    font-size: 20px

  .foot-item
    width: 100%
    text-align: center

  .foot-wrap
    justify-content: center

  .key-tabs-controls
    .svg
      max-height: 40px

  .key-item
    padding-left: 15px
    padding-right: 15px
    &-title
      font-size: 16px
    &:before
      display: block
      width: 10px
      left: -10px
    &:after
      display: block
      width: 10px
      right: -10px

  .s-director
    .btn-red
      font-size: 14px
      padding-left: 20px
      padding-right: 20px
      .svg
        margin-right: 20px
        width: 19px
  .s-changes
    height: auto

  .changes-slider
    top: 0
    margin-top: 40px
    .owl-nav
      display: none
    .owl-dots
      width: 100%
      text-align: center
      button.owl-dot
        display: inline-block
        width: 10px
        height: 10px
        margin: 0 5px
        border-radius: 40%
        background-color: #fff
        &.active
          background-color: $accent


  .change-item
    flex-wrap: wrap
    &-half
      width: 100%
      margin-bottom: 30px

  .s-projects
    font-size: 16px

  .project-item-img
    height: 190px


  .btn-request
    font-size: 18px
    margin-top: 30px
    .svg
      width: 26px

  .notice
    font-size: 14px


  .s-objects
    margin-top: 60px

  .char-row
    font-size: 16px

  .object-jobs
    max-width: 100%
    margin-bottom: 40px

  .video-link
    float: none
    right: 0
    top: 0
    margin-left: auto
    margin-right: auto
    display: block


  .ins-item
    &-title
      font-size: 18px
    &.dark-item, &.light-item
      padding-left: 15px
      padding-right: 15px
      padding-top: 50px
      padding-bottom: 50px

  .s-any
    margin-top: 100px

  .section-title
    h2
      font-size: 24px

  .owl-carousel
    .owl-nav
      button.owl-prev, button.owl-next
        width: 34px
        height: 34px

  .any-tab
    padding: 0 15px

  .any-tabs-controls
    li
      a
        padding: 15px
        height: 150px
      .any-control-desc
        font-size: 14px
        line-height: 1

  .s-intro
    margin-top: 60px
    h1
      font-size: 22px
    h2
      font-size: 22px
    h3
      font-size: 18px

  .main-head
    position: relative
    .top-phone
      float: none
      position: absolute
      left: 15px
      bottom: -10px

  .hamburger
    float: right


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
